@model List<PersonaViewModel>

@{
    ViewData["Title"] = "Lista Persone";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Lista Persone</h1>
        <div>
            <a class="btn btn-outline-primary btn-sm mr-2" asp-action="Create"><i class="fa fa-plus"></i> Crea nuova persona</a>
        </div>
    </div>

    @foreach (PersonaViewModel persona in Model)
    {
        <div class="row justify-content-center mb-3">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">@persona.nome @persona.cognome</h2>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@persona.id">Dettaglio</a>
                            
                            <form asp-action="DeletePersona" method="post" class="d-inline">
                                <button type="submit" class="btn btn-outline-danger" name="id" value="@persona.id">Elimina</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
